{% if not qas %}
    <div>No results</div>
{% else %}
    {% for qa in qas %}
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading{{ qa['_id'] }}">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion"
                   href="#{{ qa['_id'] }}"
                   aria-expanded="true" aria-controls="{{ qa['_id'] }}">
                    {{ start + loop.index }}
                    {{ qa.question }} <span style="color: blue;">{{ qa.username }} {{ qa.emailaddress }}</span>
                </a>
                <!--<button class="btn btn-default edit" id="edit{{ qa['_id'] }}">Edit</button>-->
                <a class="btn btn-default" href="/delete/{{ qa['_id'] }}">Delete</a>
            </h4>
        </div>
        <div id="{{ qa['_id'] }}" class="panel-collapse collapse" role="tabpanel"
             aria-labelledby="heading{{ qa['_id'] }}">
            <div class="panel-body">
                {{ qa.answer }}
            </div>
        </div>
    </div>
    {% endfor %}
{% endif %}