{% extends "layout.html" %}

{% block content %}

    <div class="container-fluid col-md-8 col-md-offset-2">
        <div>
            <button class="btn btn-default" onclick="getHomePageData(1, true);">Home</button>

            <div id="form-area">
                {#                <div>#}
                {#                    <input type="text" class="col-md-5" placeholder="Search it" name="question"#}
                {#                           id="question">#}
                {#                    <input type="text" class="col-md-2" id="search-threshold"#}
                {#                           placeholder="threshold for search"#}
                {#                           value="0.5">#}
                {#                    <div class="input-group-btn">#}
                {#                        <button class="btn btn-default col-md-1" id="search" type="submit"><span#}
                {#                                class="glyphicon glyphicon-search"></span></button>#}
                {#                    </div>#}
                {#                </div>#}

                <form class="form-inline" id="search-form">
                    <div class="form-group">
                        <label for="question">Question</label>
                        <input type="text" placeholder="Search it" name="question" id="question">
                    </div>
                    <div class="form-group">
                        <label for="search-threshold">Threshold</label>
                        <input type="text" name="threshold" id="search-threshold" placeholder="threshold for search" value="0.5">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-default" id="search" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                    </div>
                </form>

                <p class="help-block">No results? Submit your answer to the above question</p>
                <div><textarea id="answer" class="form-control" rows="3" placeholder="Your answer"
                               name="answer"></textarea>
                </div>
                <form class="form-inline">
                    <div class="form-group">
                        <label for="username">Name</label>
                        <input type="text" class="form-control" id="username" placeholder="Your name">
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="text" class="form-control" id="email" placeholder="Your email">
                    </div>
                    <div class="form-group">
                        <label for="threshold">Threshold</label>
                        <input type="text" class="form-control" id="threshold" placeholder="Similarity threshold"
                               value="0.5">
                    </div>
                    <div class="form-group">
                        <button class="form-control" id="submit">Submit</button>
                    </div>
                </form>

                <p class="help-block">Append your QAs from a csv file to the database</p>

                <form id="uploadForm" enctype=multipart/form-data class="form-inline" role="form">
                    <div class="form-group">
                        <label class="sr-only" for="inputfile">Choose a csv file</label>
                        <input type="file" name="datafile">
                    </div>
                    <button class="btn btn-default" id="upload">Upload data</button>
                </form>
                <p class="help-block">Clear all QAs in the database</p>
                <button type="submit" class="btn btn-default" id="clear">Clear data</button>
            </div>
            <div id="viewNodePaginationTop" class="pagination"></div>
            <div id="results">
                <img id="ajax_loader" src="/static/loading_large_icon.gif" style="display:none">
                <div id="msg"></div>
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                </div>
            </div>
        </div>

    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="application/javascript">


        //        $('.edit').click(function(event){
        //            var id = event.target.id
        //            var db_id = id.substr(4, id.length)
        //            var tmp= $('#'+db_id)
        //            var panel_body = $('#'+db_id).children('div')
        //            var old_text = panel_body.text()
        //            panel_body.text('')
        //            var textarea = panel_body.append('<textarea class="form-control" rows="3"></textarea>')
        ////            textarea.val(old_text)
        //        })
    </script>
    <script src="/static/jquery-3.2.1.min.js"></script>
    <script src="/static/index.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/index.css">

{% endblock %}


