{% if not qas %}
    <div>No results</div>
{% else %}
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        {% for qa in qas %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{ loop.index }}
                    {{ qa.question }}
                </div>
                <div class="panel-body">
                    {{ qa.answer }}
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}