{% extends "layout.html" %}

{% block content %}

    <div class="container-fluid col-md-8 col-md-offset-2">
        <div>
            <input id="query" type="text" value="{{ question['text'] }}" size="100">
            <button id="submit" class="btn btn-default">Search</button>
        </div>
        <h1 id="question-title">
            {{ question['type'] }}
            {{ question['num']|int + 1 }}
            {{ question['text'] }}
        </h1>
        <div id="search-result">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                {% for qa in qas %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            {{ qa[0]['type'] }}
                            {{ qa[0]['num']|int + 1 }}
                            {{ qa[0]['text'] }}
                        </div>
                        <div class="panel-body">
                            {{ qa[1]['text'] }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="application/javascript">
        $('#submit').click(function () {
            var ajax_loader = '<img src="{{ url_for('static', filename='loading_large_icon.gif') }}">';
            $('#search-result').html(ajax_loader);
            $('#question-title').html('');
            var query = $('#query').val();
            if (query != '') {
                $('#question-title').html(query);
                $.post("/search_ajax", {'query': query}, function (data) {
                    $('#search-result').html(data);
                });
            }
            else {
                $('#search-result').html('');
            }
        })
    </script>
{% endblock %}

